<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="source/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
         colors="true">
  <testsuites>
    <testsuite name="buzzword">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">source/lib/</directory>
    </whitelist>
  </filter>
</phpunit>
